<div id="dzernark"  class="grid_11">
  $body$
</div>
<div class="grid_4">
  <div class="right-container">
    <ul id="sideMenu">
      <li><a href="intro.html"> Ներածություն</a></li>
      <li><a href="plan.html"> Դասընթացի ծրագիրը<a/></li>
      <li><a href="gorcntac.html"> Ուսումնական գործընթացի կազմակերպումը</a></li>
      <li><a href="didaktika.html"> Ուսումնադիդակտիկ նյութերը</a></li>
      <li><a href="grakanutyun.html"> Գրականության ցանկ</a></li>
    </ul>
    <div class="clear"></div>
  </div>
</div>
