<div class="grid_16 branding" >
  <ul>
    <li> 
<!--<a href="/">	<img  class="logo"  src="/images/byurakn-logo.jpg" /></a>-->
    </li>
    <li><h1 id="branding">
	«Բյուրակն» կրթահամալիր
    </h1></li>
  </ul>
</div>

<div class="clear"/>

<div class="grid_16 nav">
  <ul class="nav main">
    <li><a href="/">Գլխավոր</a></li>
    <li><a href="/">Մեր մասին</a></li>
    <li><a href="">Մեր դպրոցը</a></li>
    <li><a href="/">Միջոցառումներ</a></li>
    <li><a href="/">Մեթոդներ</a></li>
    <li></li>
  </ul>
</div>



